*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*ENCABEZADO*/
.encabezado
{
    text-align: center;
}


.Titulo{
    text-align: center;
    color: chocolate;;
    background-color: none;
    border-color: rgb(5, 5, 5);
   
}

.contenedor0{
    background-color: rgba(0, 0, 0, 0.959);
}

.header
{
    height: 7s0vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(113, 87, 20);
    
}

.content
{
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    
}

.header-content
{
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    
}

.header-content h1
{
    height: 100%;
    width: 100%;
    font-size: 70px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    position: relative;
}

@media (max-width: 960px)
{
    .content
    {
        padding: 0 3rem 0 3rem;
    }    
}


/*BARRA DE NAVEGACIÓN*/

.navbar
{
    overflow: hidden;
    background-color: beige;
}

.navbar a
{
    display: table;
    color: chocolate;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover
{
    color: red;
    transition: all .3s;
    background-color: rgba(210, 105, 30, 0.452);
}

@media screen and (max-width: 600px)
{
    .navbar a
    {
        float: none;
        width: 100%;  
    }
}


/*CONTENIDO*/
/*FORMULARIO*/

form
{
    width: 500px;
    margin: auto;
    background-color: rgba(185, 128, 29, 0.841);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

textarea
{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

button
{
    width: 100%;
}

button:hover
{
    cursor: pointer;
}


@media (max-width: 600px)
{
    form
    {
        width: 100%;
    }
}


/*FOOTER O PIE DE PÁGINA*/

.pie-pagina{
    width: 100%;
    background-color: rgb(113, 87, 20);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(248, 137, 10, 0.603);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgba(255, 168, 6, 0.137);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


