*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body
{
    font-size: 1rem;
    line-height: 1.5;
    color: 333;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
   
}


/*ENCABEZADO*/
.contenedor0{
    background-color: rgba(0, 0, 0, 0.959);
    
}

.header
{
   
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(113, 87, 20);
    
}

.content
{
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    
}


.header-overlay
{
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #d1735416;
    z-index: 1;
    opacity: .95;
    
}

.header-content
{
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    
}

.header-content h1
{
    height: 100%;
    width: 100%;
    font-size: 250%;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    position: relative;

}

@media (max-width: 960px)
{
    .content
    {
        padding: 0 3rem 0 3rem;
    }    
}


@media (min-width: 980px)
{
    .header-content h1
    {
        height: 100%;
        width: 100%;
        font-size: 100px;
    }    
}

.img-fluid
{
    width: 500px;
    max-width: auto;
    height: auto;
}


/*BARRA DE NAVEGACIÓN*/

.navbar
{
    overflow: hidden;
    background-color: beige;
}

.navbar a
{
    display: table;
    color: chocolate;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover
{
    color: red;
    transition: all .3s;
    background-color: rgba(210, 105, 30, 0.452);
}

@media screen and (max-width: 600px)
{
    .navbar a
    {
        float: none;
        width: 100%;  
    }
}


/*CONTENIDO*/



.Titulo{
    height: 10vh;
    display:flex;  
    width: 95%;
    margin: 10px auto;/*lo coloca en el centro */
   

  }
  .item{
    border-top: solid  rgba(12, 12, 12, 0.596);
    border-bottom: solid  rgba(20, 20, 20, 0.596);
    width: 250px;
    background-color: white;
    flex-grow: 0;
  }
  
  .item:nth-child(2){
    flex-grow: 1;
  }

  .item:nth-child(2){
    background-color: rgba(206, 214, 211, 0.623);
  }

  
  
.Titulo{
    text-align: center;
    color: chocolate;;
    background-color: none;
    border-color: rgb(5, 5, 5);
   
}


.Titulo1{
    text-align: center;
    color: chocolate;;
    background-color: none;
    border-color: rgb(5, 5, 5);
   
}

.column1 {
    padding: 5%;
    height: auto;
    
    border: 5px solid white;
    background-image: url(../src/fondo3.jfif);
    color: white;
    background-size: 100% 100%;

}


.row1{
    width: 80%;
    margin: 10px auto;/*lo coloca en el centro */
    color: none;
    text-align: justify; 
   
}




h2{
    text-align: center;
    color: white;
    font-size: 15px;
    
    
}


.row{
    width: 95%;
    margin: 10px auto;/*lo coloca en el centro */
    color:black;
    text-align: justify; 
    
   
}

.column{
    float: left;
    width: 25%;
    padding: 20px;
    background-image: url(../src/fondo3.jfif);
    color: white;
    background-size: 100% 100%;
}


.row div{
    padding: 2em;
    

}

.column:hover{
    border: 5px solid white;
    background-size: 100%;
}



.imagen1{
    max-width: 100%;
    height:200px;
    border-radius: 30px;
    
}


@media screen and (max-width: 600px){
    .nav a{
        float: none;
        width: 100%;
    }
    
}

 /*panatalla de 992px*/
 @media screen and (max-width: 992px){
    .column{
        width: 100%;
        

    }
    
}









/*FOOTER O PIE DE PÁGINA*/

.pie-pagina{
    width: 100%;
    background-color: rgb(113, 87, 20);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(248, 137, 10, 0.603);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgba(255, 168, 6, 0.137);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
